<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>main</title>
    <script type="text/javascript" th:src="@{https://telegram.org/js/telegram-web-app.js}"></script>
    <script th:src="@{https://kit.fontawesome.com/3f2164ccf1.js}" crossorigin="anonymous"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js}"></script>
    <link rel="stylesheet" th:href="@{/static/css/roulette.css}">
    <title>轮盘赌</title>
</head>
<body>
<div class="container">
    <canvas id="wheelCanvas" width="600" height="600"></canvas>
    <button id="spinButton">开始</button>
</div>
<script th:src="@{/static/js/roulette.js}"></script>

<div class="bottom-nav">
    <a th:href="@{main}" class="nav-item">
        <i class="fa-solid fa-house" aria-hidden="true"></i>
        <span>主页</span>
    </a>
    <a th:href="@{/random}" class="nav-item">
        <i class="fa-solid fa-clock" aria-hidden="true"></i>
        <span>随机数</span>
    </a>
    <a href="#" class="nav-item">
        <i class="fa-solid fa-list-check" aria-hidden="true"></i>
        <span>任务</span>
    </a>
    <a th:href="@{/user}" class="nav-item">
        <i class="fa-solid fa-user" aria-hidden="true"></i>
        <span>我的</span>
    </a>
</div>

</body>
</html>
